<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Histórico</title>
    <link rel="stylesheet" href="../css/historico.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      body {
        --bs-bg-opacity: 1;
        background-color: rgba(
          var(--bs-dark-rgb),
          var(--bs-bg-opacity)
        ) !important;
      }

      #numero1 {
        color: #daa520;
      }

      #numero2 {
        color: #c0c0c0;
      }

      #numero3 {
        color: #cd7f32;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 class="titulo">Histórico:</h1>
      <div id="rapaz" class="album py-5 bg-dark">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card text-bg-dark">
                <img src="../img/metatron.png" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="colocacao">
                    <span id="numero1">1°</span> Lugar =
                    <span id="branco">Metatron</span>
                    <span id="contagem">(9300)</span>
                  </h5>
                  <h5 class="colocacao">
                    <span id="numero2">2°</span> Lugar =
                    <span id="vermelho">Spartanos</span>
                    <span id="contagem">(8700)</span>
                  </h5>
                  <h5 class="colocacao">
                    <span id="numero3">3°</span> Lugar =
                    <span id="roxo">Ekballo</span>
                    <span id="contagem">(2900)</span>
                  </h5>
                  <p class="card-text">
                    <small
                      >Referente a pontuação até o dia:
                      <span id="dia">14/09/2023</span></small
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-dark">
                <img src="../img/metatron.png" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="colocacao">
                    <span id="numero1">1°</span> Lugar =
                    <span id="branco">Metatron</span>
                    <span id="contagem">(7200)</span>
                  </h5>
                  <h5 class="colocacao">
                    <span id="numero2">2°</span> Lugar =
                    <span id="vermelho">Spartanos</span>
                    <span id="contagem">(6000)</span>
                  </h5>
                  <h5 class="colocacao">
                    <span id="numero3">3°</span> Lugar =
                    <span id="roxo">Ekballo</span>
                    <span id="contagem">(2100)</span>
                  </h5>
                  <p class="card-text">
                    <small
                      >Referente a pontuação até o dia:
                      <span id="dia">10/09/2023</span></small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
