.titulo {
  color: #ffffff;
  text-align: center;
}
/*.colocacao {
}
*/
.nome {
  font-weight: bold;
}
/*.pontos {
}
*/
#cor1 {
  color: #ff0000;
}
#cor2 {
  color: #cd31cd;
}
#cor3 {
  color: #929090;
}
/*#botao {
}
*/
